$color-primary: hsl(226, 43%, 10%);
$color-primary--dark: hsl(235, 46%, 20%);
$color-primary--light: hsl(235, 45%, 61%);
$color-secondary: hsl(236, 100%, 87%);
$color-secondary--dark: hsl(236, 41%, 34%);
$color-tertiary: hsl(246, 80%, 60%);

$color-orange: hsl(15, 100%, 70%);
$color-cyan: hsl(195, 74%, 62%);
$color-red: hsl(348, 100%, 68%);
$color-green: hsl(145, 58%, 55%);
$color-violet: hsl(264, 64%, 52%);
$color-yellow: hsl(43, 84%, 65%);
$color-white: hsl(220, 43%, 97%);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $color-primary;
  color: $color-white;
  font-size: 1.6rem;
  font-family: 'Rubik', sans-serif;
  line-height: 1.4;
  text-rendering: optimizeSpeed;
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: center;
}
